:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: #f8f5fc;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  max-width: 40rem;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  background: #f8f5fc;
  margin: 0.5rem auto 0.25rem;
  padding: 1rem;
  max-width: 20rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f8f5fc;
}

.check {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.check-green {
  color: green;
}

.check-red {
  color: red;
}
i {
  font-size: 1.2rem;
  padding-right: 0.5rem;
  cursor: pointer;
}
.red-background {
  background: #ff9592;
}

.green-background {
  background: #3dd68c;
}

/* The Modal (background) */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content/Box */
.modal-content {
  background-color: #049758; /* Couleur de fond du modal */
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #049758; /* Couleur de la bordure */
  border-radius: 10px; /* Coins arrondis */
  width: 50%; /* Largeur du contenu du modal */
  color: #f8f5fc; /* Couleur du texte */
}

/* Le bouton de fermeture */
.close {
  color: #ff6e6e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e51d1d;
  text-decoration: none;
  cursor: pointer;
}

/* Ajout d'un peu de style pour le formulaire à l'intérieur du modal */
#newHabitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newHabitTitle {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #34495e;
  border-radius: 5px;
  width: 80%;
}

#newHabitForm button {
  background-color: #ecfdf3;
  color: #4f4f4f;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#newHabitForm button:hover {
  background-color: #6de8a8;
  color: #fff;
}
button {
  background-color: #6de8a8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
